<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{model.trackName}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label stacked>Gestartet</ion-label>
        <ion-input disabled [value]="model.trackingStartedAt.toLocaleString('de-de')" type="text"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label stacked>Beendet</ion-label>
        <ion-input disabled [value]="model.trackingFinishedAt.toLocaleString('de-de')" type="text"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label stacked>Hochgeladen</ion-label>
        <ion-input disabled [value]="model.trackUploadedAt ? model.trackUploadedAt.toLocaleString('de-de') : 'Noch nicht hochgeladen'" type="text"></ion-input>
    </ion-item>

    <div *ngIf="!model.trackUploadedAt">
        <ion-item>
            <ion-label stacked>Anhänge ({{model.numberOfAttachments}})</ion-label>
            <ion-input (click)="showTrackRecordingAttachments()" disabled [value]="model.attachments ? 'Anhänge anzeigen' : 'Keine Anhänge hinzugefügt'" type="text"></ion-input>
        </ion-item>
    </div>

    <div *ngIf="model.trackUploadedAt">
        <ion-item>
            <ion-label stacked>Anhänge ({{model.numberOfAttachments}})</ion-label>
            <ion-input disabled [value]="'Hochgeladene Anhänge wurden gelöscht'" type="text"></ion-input>
        </ion-item>
    </div>

    <ion-item>
        <ion-label stacked>Länge (Positionen: {{model.trackedPositions.length}})</ion-label>
        <ion-input disabled [value]="model.trackLength" type="text"></ion-input>
    </ion-item>
</ion-content>