<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.janhafner.myskatemap.apps.trackrecorder">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <application
        android:supportsRtl="false"
        android:name=".TrackRecorderApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:configChanges="locale|orientation"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_home_screen_icon"
        android:icon="@drawable/ic_home_screen_icon"
        android:theme="@style/MySkatemap.TrackRecorder.AppTheme.AppCompat">
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity
            android:name=".views.activities.SplashscreenActivity"
            android:theme="@style/MySkatemap.TrackRecorder.SplashscreenActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.playground.PlaygroundActivity"
            android:label="Playground">
        </activity>
        <activity
            android:name=".views.activities.trackrecorder.TrackRecorderActivity"
            android:launchMode="singleTask"
            android:label="@string/trackrecorderactivity_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".views.activities.viewfinishedtrack.ViewFinishedTrackActivity"
            android:label="@string/viewfinishedtrackactivity_title" />
        <activity
            android:name=".views.activities.tracklist.TrackListActivity"
            android:launchMode="singleTask"
            android:label="@string/tracklistactivity_title" />
        <activity
            android:name=".views.activities.userprofilesettings.UserProfileSettingsActivity"
            android:launchMode="singleTask"
            android:label="@string/userprofilesettingsactivity_title" />
        <activity
            android:name=".views.activities.appsettings.AppSettingsActivity"
            android:launchMode="singleTask"
            android:label="@string/settingsactivity_title" />
        <activity
            android:name=".views.activities.about.AboutActivity"
            android:launchMode="singleTask"
            android:label="@string/aboutactivity_title" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDcsa-dOgKCehcSTHGhyPtWD1fQzYkNDDU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".services.trackrecorder.TrackRecorderService"
            android:exported="false" />
    </application>
</manifest>