<ion-header>
    <ion-navbar>
        <ion-title>Streckenerfassung</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="refreshLastLocationDisplay($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Ziehen zum aktualisieren" refreshingSpinner="circles" refreshingText="aktualisieren..."></ion-refresher-content>
    </ion-refresher>
    <ion-item>
        <ion-label stacked color="primary">Letzte Aktualisierung</ion-label>
        <ion-input disabled [value]="lastUpdate" type="text" placeholder="Keine Daten vorhanden"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label stacked color="primary">Ungefähre Länge</ion-label>
        <ion-input disabled [value]="approximateLength" type="text" placeholder="Keine Daten vorhanden"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label stacked color="primary">Anzahl ermittelter Positionen</ion-label>
        <ion-input disabled [value]="countOfCollectedPositions" placeholder="Keine Positionen ermittelt"></ion-input>
    </ion-item>

    <map #map></map>
</ion-content>

<ion-fab middle right>
    <button ion-fab color="light">
       <ion-icon name="options"></ion-icon>
    </button>
    <ion-fab-list side="top">
        <button [color]="canDeleteTrackRecording ? 'danger' : 'default'" [disabled]="!canDeleteTrackRecording" ion-fab mini (click)="resetTrackRecording()">
            <ion-icon name="trash"></ion-icon>
        </button>
    </ion-fab-list>
    <ion-fab-list side="left">
        <button [color]="canShowTrackRecorderSettings ? 'primary' : 'default'" [disabled]="!canShowTrackRecorderSettings" ion-fab mini (click)="showTrackRecorderSettings($event)">
            <ion-icon name="settings"></ion-icon>
        </button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
        <button [color]="canUploadTrackRecording ? 'primary' : 'default'" [disabled]="!canUploadTrackRecording" ion-fab mini (click)="uploadTrackRecording()">
            <ion-icon name="cloud-upload"></ion-icon>
        </button>
    </ion-fab-list>
</ion-fab>

<ion-footer>
    <ion-toolbar>
        <button (click)="record()" *ngIf="isStopped" full color="primary" ion-button>Starten</button>
        <button (click)="stop()" *ngIf="!isStopped" full color="danger" ion-button>Stoppen</button>
    </ion-toolbar>
</ion-footer>