<ion-menu [content]="content">
    <ion-header>
        <ion-navbar color="primary">
            <ion-title>Streckenerfassung</ion-title>
        </ion-navbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-list-header>
                Allgemein
            </ion-list-header>
            <button [disabled]="!isPaused" ion-item (click)="showTrackRecorderSettings()">
                Aufnahmeeinstellungen
                <ion-icon small item-right name="arrow-right"></ion-icon>
            </button>
        </ion-list>
        <ion-list>
            <ion-list-header>
                Verlauf
            </ion-list-header>
            <button ion-item *ngFor="let archivedTrackRecording of archivedTrackRecordings">
                {{archivedTrackRecording.trackRecording.trackName}}
                <button clear ion-button icon-only item-right (click)="removeArchivedTrackRecording(archivedTrackRecording)">
                    <ion-icon name="trash"></ion-icon>
                </button>
            <button *ngIf="!archivedTrackRecording.isUploaded" clear ion-button icon-only item-right (click)="uploadTrackRecording(archivedTrackRecording)">
                    <ion-icon name="cloud-upload"></ion-icon>                
                </button>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button menuToggle icon-only ion-button>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Streckenerfassung</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="showTrackRecorderPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content #content fixed>
    <ion-refresher [enabled]="currentTrackRecording" (ionRefresh)="refreshLastLocationDisplay($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Ziehen zum aktualisieren" refreshingSpinner="circles" refreshingText="aktualisieren..."></ion-refresher-content>
    </ion-refresher>

    <ion-item>
        <ion-label stacked>Streckenname</ion-label>
        <ion-input [disabled]="!currentTrackRecording" [value]="currentTrackRecording?.trackName" placeholder="Aufnahme starten..."></ion-input>
    </ion-item>

    <ion-item>
        <ion-label stacked>Letzte Aktualisierung</ion-label>
        <ion-input disabled [value]="lastUpdate" type="text" placeholder="Keine Daten vorhanden"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label stacked>Ungefähre Länge</ion-label>
        <ion-input (click)="showTrackedPositionsInfo()" disabled [value]="approximateLength" type="text" placeholder="Keine Daten vorhanden"></ion-input>
    </ion-item>

    <map #map></map>
</ion-content>

<ion-fab bottom center *ngIf="isPaused">
    <button ion-fab (click)="record()">
       <ion-icon name="recording"></ion-icon>
    </button>
</ion-fab>

<ion-fab bottom center *ngIf="!isPaused">
    <button ion-fab color="danger" (click)="pause()">
       <ion-icon name="pause"></ion-icon>
    </button>
</ion-fab>