<ion-menu [content]="content">...</ion-menu>

<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button menuToggle icon-only ion-button>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Streckenerfassung</ion-title>
        <ion-buttons end>
            <button ion-button icon-only *ngIf="currentTrackRecording" (click)="showTrackAttachments()">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content #content fixed>
    <ion-refresher [enabled]="currentTrackRecording" (ionRefresh)="refreshLastLocationDisplay($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Ziehen zum aktualisieren" refreshingSpinner="circles" refreshingText="aktualisieren..."></ion-refresher-content>
    </ion-refresher>

    <ion-item>
        <ion-label stacked>Streckenname</ion-label>
        <ion-input [disabled]="!currentTrackRecording" [value]="currentTrackRecording?.trackName" placeholder="Aufnahme starten..."></ion-input>
    </ion-item>

    <ion-item>
        <ion-label stacked>Letzte Aktualisierung</ion-label>
        <ion-input disabled [value]="lastUpdate" type="text" placeholder="Keine Daten vorhanden"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label stacked>Ungefähre Länge</ion-label>
        <ion-input (click)="showTrackedPositionsInfo()" disabled [value]="approximateLength" type="text" placeholder="Keine Daten vorhanden"></ion-input>
    </ion-item>

    <map #map></map>
</ion-content>

<ion-fab middle right>
    <button ion-fab>
       <ion-icon name="options"></ion-icon>
    </button>
    <ion-fab-list side="top">
        <button [color]="canDeleteTrackRecording ? 'danger' : 'default'" [disabled]="!canDeleteTrackRecording" ion-fab mini (click)="resetTrackRecording()">
            <ion-icon name="trash"></ion-icon>
        </button>
    </ion-fab-list>
    <ion-fab-list side="left">
        <button [color]="canShowTrackRecorderSettings ? 'primary' : 'default'" [disabled]="!canShowTrackRecorderSettings" ion-fab mini (click)="showTrackRecorderSettings($event)">
            <ion-icon name="settings"></ion-icon>
        </button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
        <button [disabled]="!canUploadTrackRecording" ion-fab mini (click)="uploadTrackRecording()">
            <ion-icon name="cloud-upload"></ion-icon>
        </button>
    </ion-fab-list>
</ion-fab>

<ion-fab bottom center *ngIf="isPaused">
    <button ion-fab (click)="record()">
       <ion-icon name="recording"></ion-icon>
    </button>
</ion-fab>

<ion-fab bottom center *ngIf="!isPaused">
    <button ion-fab color="danger" (click)="pause()">
       <ion-icon name="pause"></ion-icon>
    </button>
</ion-fab>