map {
    display: flex;
    height: 63%;
    width: 100%;
    .map {
        width: 100%;
        align-items: stretch;
    }
}

.scroll-bar-indicator {
    display: none;
}

ion-menu[type=overlay] {
    z-index: 1000;
}