<ion-header>
    <ion-navbar color="primary">
        <ion-title>Ablaufverfolgung</ion-title>
        <ion-buttons end>
            <button padding-left ion-button icon-only (click)="clear()">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="!isObservable">
        Beobachtbare Ablaufverfolgung deaktiviert!
    </div>
    <div *ngIf="isObservable">
        <ion-list>
            <ion-item text-wrap *ngFor="let message of logEntries">
                > {{message}}
            </ion-item>
        </ion-list>
    </div>
</ion-content>