<ion-header>
    <ion-navbar color="primary">
        <ion-title>Bei mySkatemap anmelden</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="login()">
        <ion-item>
            <ion-label stacked>E-Mail Adresse</ion-label>
            <ion-input required type="text" name="login.emailAddress" [(ngModel)]="model.emailAddress"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Passwort</ion-label>
            <ion-input required type="password" name="login.password" [(ngModel)]="model.password"></ion-input>
        </ion-item>
        <p>
            <button type="submit" ion-button full>
                Anmelden
            </button>
        </p>
    </form>
</ion-content>