<ion-header>
    <ion-navbar color="primary">
        <ion-title>Anhänge</ion-title>
        <ion-buttons end>
            <button padding-left ion-button icon-only (click)="apply()">
                <ion-icon name="checkmark"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div text-center *ngIf="!model.attachments.length">
        Bisher haben Sie noch keine Anhänge hinzugefügt. Sie können Anhänge über die "+"-Schaltfläche hinzufügen.
    </div>
    <ion-list>
        <ion-item *ngFor="let trackAttachment of model.attachments">
            <ion-thumbnail item-left>
                <img src="{{trackAttachment.imageDataUrl}}">
            </ion-thumbnail>
            <ion-label stacked>Hinzugefügt am</ion-label>
            <ion-input disabled [value]="trackAttachment.comment" type="text"></ion-input>
            <button color="danger" ion-button clear item-right icon-only (click)="model.removeAttachment(trackAttachment)">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
</ion-content>

<ion-fab bottom right>
    <button ion-fab>
       <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
        <button ion-fab icon-only (click)="selectLibraryImage()">
            <ion-icon name="images"></ion-icon>
        </button>
        <button ion-fab icon-only (click)="captureCameraImage()">
            <ion-icon name="camera"></ion-icon>
        </button>
    </ion-fab-list>
</ion-fab>