<ion-list>
    <button [disabled]="!canShowCurrentTrackRecordingAttachments" ion-item (click)="showCurrentTrackRecordingAttachments()">
        Aufnahmeanhänge
        <!--{{this.localizationService.localize("track-attachments-button-text") | databindableasync:'track-attachments-button-text'}}-->
    </button>
    <button [disabled]="!canFinishCurrentTrackRecording" ion-item (click)="finishCurrentTrackRecording()">
        Abschließen
    </button>
    <button [disabled]="!canDiscardCurrentTrackRecording" ion-item (click)="discardCurrentTrackRecording()">
        Verwerfen
    </button>
</ion-list>